html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

/* Sidebar */
.sidebar {
    width: 260px;
    height: 130vh;
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bi {
    display: flex;
}

.pagina-usuario main {
    margin-left: 30px;
}

.pagina-usuario main {
    margin-left: 0 !important;
}


/* Menu */
.menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.menu li:hover {
    background-color: #e9efff;
    color: #0a2b6b;
}

.menu li.ativo {
    background-color: #0a2b6b;
    color: #fff;
    font-weight: 500;
}


.conteudo {
    min-height: 100vh;
    background-color: #f6f8ff;
}


@media (max-width: 767px) {

    .sidebar {
        min-height: auto !important;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .menu {
        display: flex;
        gap: 20px;
    }

    .menu li {
        margin-bottom: 0 !important;
    }

    .menu li span {
        display: none; 
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        min-height: 100vh;
    }
}


@media (max-width: 576px) {
    .nav-pills .nav-link {
        width: 100%;
        margin-bottom: 10px;
    }
}
