.imagem-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.azul-clarinho{
    background-color: rgba(221, 221, 253, 0.822);
}
.card-product {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
