html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
  color: white;
}

.sidebar {
    width: 260px;
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 0;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.menu li:hover {
    background-color: #e9efff;
    color: #0a2b6b; 
}

.menu li.ativo {
    background-color: #0a2b6b; 
    color: #fff;
    font-weight: 500;
}

.pagina-treinamentos {
  background-color: #fff;
}

.conteudo-treinamentos {
  background-color: #fff;
}

.titulo-pagina {
  color: #005DAA;
  font-weight: 700;
}

.subtitulo {
  color: #4A4A4A;
  margin-bottom: 2rem;
  font-size: 0.95rem;
}


.tabs-container {
  display: flex;
  border-bottom: 2px solid #e0e0e0;
  gap: 1rem;
}


.tab-button {
  background: none;
  border: none;
  font-weight: 600;
  color:  #005DAA;
  padding: 0.6rem 1rem;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tab-button:hover {
  color: #e0e0e0; 
}

.tab-button.active {
  color: #005DAA; 
  border-bottom: 3px solid #005DAA; 
}

.btn-primary {
    background-color: #0A2B6B !important; 
    border-color: #0A2B6B !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #005DAA !important; 
    border-color: #005DAA !important;
}
.btn-outline-secondary, 
.btn-outline-primary {
    color: #005DAA; 
    border-color: #005DAA; 
}
.btn-outline-secondary:hover, 
.btn-outline-primary:hover {
    background-color: #005DAA;
    color: white; 
    border-color: #005DAA;
}

.progress-bar {
    background-color: #005DAA !important; 
}

.text-primary {
    color: #005DAA !important; 
}

.pagina-usuario .row {
  display: flex;
  flex-wrap: nowrap;
}


@media (max-width: 768px) {
.sidebar {
height: auto;
 border-right: none;
border-bottom: 1px solid #e0e0e0;
 }

 .conteudo-treinamentos {
 padding: 1rem;
 }
}


@media (max-width: 768px) {


  .row {
    flex-wrap: wrap !important;
  }


  .conteudo {
    overflow-x: hidden !important;
  }


  .sidebar {
    width: 100% !important;
    min-height: auto !important;
    border-right: none;
    border-bottom: 1px solid #eee;
  }


  .pagina-usuario .conteudo {
    width: 100% !important;
  }

}



