.resumo-card {
background-color: #ffffff;
border-radius: 12px;
padding: 20px;
text-align: center;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
box-shadow: 0 4px 6px rgba(0, 0, 130, 0.05);
}

.resumo-card .valor {
font-size: 2.5rem;
font-weight: bold;
color: var(--cor-titulo-azul);
line-height: 1;
}

.resumo-card .titulo {
font-size: 1rem;
color: var(--cor-secundaria);
margin-bottom: 10px;
}
.resumo-card .icon-circulo {
display: inline-flex;
align-items: center;
justify-content: center;
width: 35px;
height: 35px;
border-radius: 50%;
color: #ffffff;
margin-bottom: 10px;
font-size: 1.1rem;
}

.tag-categoria {
display: inline-block;
padding: 3px 8px;
border-radius: 4px;
font-size: 0.8rem;
font-weight: 600;
margin-top: 5px;
color:#000082;
}

.tag-Inovacao {
background-color: #f9f0ff;
color: #000082;
}
.tag-Agilidade {
background-color: #f9f0ff;
color: #000082;
}
.tag-Lideranca {
background-color: #f9f0ff;
color: #000082;
}