html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
  color: white;
}

.pagina-usuario {
  min-height: 100vh;
}

.sidebar {
  width: 260px;
  background-color: #fff;
  border-right: 1px solid #e6e6e6;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
.menu li:hover {
  background-color: #e9efff;
  color: #0a2b6b;
}
.menu li.ativo {
  background-color: #0a2b6b;
  color: #fff;
  font-weight: 500;
}