html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-color: #f6f8ff;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

.pagina-usuario {
    display: flex;
    min-height: 100%;
}

/* Sidebar */
.sidebar {
    width: 260px;
    height: 130vh;
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bi {
    display: flex;
}

.pagina-usuario main {
    margin-left: 30px;
}

.pagina-usuario main {
    margin-left: 0 !important;
}


/* Menu */
.menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.menu li:hover {
    background-color: #e9efff;
    color: #0a2b6b;
}

.menu li.ativo {
    background-color: #0a2b6b;
    color: #fff;
    font-weight: 500;
}



/* CONTEUDO DA PÁGINA */

/* Cards iniciais*/
.card-info {
    border: 1px solid #dbd9d9;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ícones */
.icon {
    font-size: 1.8rem;
    margin: 0px;
    padding: 0;
}

.progresso {
    margin-right: 30px;
}

/* Cores dos cards iniciais*/
.card-info.azul .icon {
    padding: 15px;
    border-radius: 10px;
    background-color: #eaf1ff;
    color: #004b9b;
}

.card-info.laranja .icon {
    padding: 15px;
    border-radius: 10px;
    background-color: #fff4e6;
    color: #f28b1a;
}

.card-info.verde .icon {
    padding: 15px;
    border-radius: 10px;
    background-color: #eafaf1;
    color: #1ea672;
}

.card-info.roxo .icon {
    padding: 15px;
    border-radius: 10px;
    background-color: #f5eaff;
    color: #8b3ef7;
}

/* Textos */
.titulo {
    color: #555;
    font-size: 0.95rem;
    margin: 0;
    white-space: nowrap;
}

.valor {
    color: #002b6b;
    font-size: 1.6rem;
    font-weight: 600;
    margin: auto;
}

.pagina-usuario .row {
    margin: 0;
    width: 100%;
}

.pagina-usuario main {
    width: 100%;
    flex: 1;
}

/* Buscar */


.search-wrapper {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Barra de busca com largura igual à barra de navegação */
.search-container {
    width: 100%;
    max-width: 1400px;
    height: 48px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #e4e7ec;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 45px;
    margin-left: 40px;
}

/* Ícone */
.search-container .search-icon {
    position: absolute;
    left: 16px;
    font-size: 18px;
    color: #7d8da0;
}

/* Input */
.search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    background: transparent;
}



.tabela-container {
    background: #fff;
    border-radius: 14px;
    padding: 25px;
    margin-top: 40px;
    border: 1px solid #dbd9d9;
}

.header-lista h5 {
    font-size: 19px;
}

.search-box {
    display: flex;
    align-items: center;
    background: #f2f4f7;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 20px 0;
    position: relative;
}

.search-box i {
    font-size: 18px;
    margin-right: 10px;
    color: #777;
}

.search-box input {
    border: none;
    background: transparent;
    box-shadow: none !important;
}

.cadastrar-btn {
    position: absolute;
    right: 2px;
    bottom: 75px;
    border-radius: 10px;
    background: #052c65;
    border: none;
    padding: 8px 16px;
    font-weight: 500;
    display: flex;
    padding: 20px;
}

.avatar {
    width: 42px;        
    height: 42px;      
    min-width: 42px;    
    min-height: 42px;   
    background: #1c3d6f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 600;     
    font-size: 16px;      
    flex-shrink: 0;       
    text-transform: uppercase; 
    margin-right: 12px; 
}

/* Tabela */
.tabela-colaboradores {
    margin-top: 10px;
    background-color: white !important;
    width: 100%;
    min-width: 100%;
    table-layout: fixed;
}

.thead{
    background-color:#f6f8ff;
}
.tabela-colaboradores th {
    background: transparent;
    color: #555;
    font-weight: 600;
}

.tabela-colaboradores td {
    padding: 18px 8px;
}

.status {
    padding: 4px 12px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 13px;
}

.status.ativo {
    background: #d5f5d9;
    color: #2d824a;
}

.status.inativo {
    background: #ffd7d7;
    color: #b32626;
}

.acoes i {
    display: flex;
    font-size: 18px;
    margin-right: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.acoes {
    margin-top: 20px;
    display: flex;
}

h5{
    display: flex;
}
/* Wrapper da tabela ocupando toda a página */
.tabela-wrapper {
    width: 100%;
    background: white;
    padding: 0;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
}



/* Modal */
.modal-content {
  border-radius: 14px;
  padding: 10px;
  border: none;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  color: #0a2b6b;
  font-weight: 600;
  font-size: 20px;
}

.modal-body label {
  color: #0a2b6b;
  font-size: 14px;
}

.btn-primary.salvar-colaborador {
  background-color: #0a2b6b;
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
}

.cadastrar-colaborador-btn {
  background-color: #052c65;
  border: none;
  padding: 10px 16px;
  border-radius: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
    .pagina-usuario {
        flex-direction: column;
    }
    
    .pagina-usuario main {
        width: 100%;
        padding: 15px;
        margin-left: 0 !important;
    }
    .tabela-container {
        padding: 15px;
        overflow-x: auto; 
    }
    .sidebar {
        display: none !important;
    }
}
